<div class="container">
  <div class="row">
    <div class="title pt-4">
      <h4>マイページ編集</h4>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
        <%=form_with model: @customer, url: update_information_path do |f| %>
          <table class= 'table table-borderless'>
              <tr>
                <th>氏名</th>
                <td><%= f.label :last_name, "(姓)", class: "customer_name" %><%= f.text_field :last_name, :placeholder =>"#{@customer.last_name}" %></td>
                <td><%= f.label :first_name, "(名)", class: "customer_name" %><%= f.text_field :first_name, :placeholder =>"#{@customer.first_name}" %></td>
              </tr>
              <tr>
                <th>フリガナ</th>
                <td><%= f.label :last_name_kana, "(セイ)", class: "customer_name" %><%= f.text_field :last_name_kana, :placeholder =>"#{@customer.last_name_kana}" %></td>
                <td><%= f.label :first_name_kana, "(メイ)", class: "customer_name" %><%= f.text_field :first_name_kana, :placeholder =>"#{@customer.first_name_kana}" %></td>
              </tr>
              <tr>
               <th><%= f.label :email, "メールアドレス" %></th>
               <td colspan="2"><%= f.email_field :email,autocomplete: "email", :placeholder =>"#{@customer.email}" %></td>
              </tr>
              <tr>
                <th><%= f.label :phone_number, "電話番号" %></th>
                <td colspan="2"><%= f.text_field :phone_number, :placeholder =>"#{@customer.phone_number}" %></td>
              </tr>
              <tr>
                <th><%= f.label :postal_code, "郵便番号" %></th>
                <td colspan="2"><%= f.text_field :postal_code, :placeholder =>"#{@customer.postal_code}" %></td>
              </tr>
              <tr>
                <th><%= f.label :address, "住所" %></th>
                <td colspan="2"><%= f.text_field :address, :placeholder => "#{@customer.address}" %></td>
              </tr>
              <tr>
                <td colspan="2"><%= f.submit "保存する", class: "btn btn-info" %></td>
                <td><%= link_to "退会する", confirm_quit_path, class:"btn btn-danger" %></td>
              </tr>
          </table>
        <% end %> 
    </div>
  </div>
</div>