<div class="container">
  <div class="row d-flex">
    <h2>
      <div class="row ml-2 mt-5">
        <strong>商品一覧</strong>
    </h2>
      </div>
        <% @items.each do |item| %>
          <div class="col-md-10">
            <div class ="col-md-3 mb-3 text-center p-2">
              <div class="card" style="width: 18rem;">
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: "200x200", class:"card-img-top" %>
                <% end %>
              </div>
                <div class="card-body">
                  <h5 class="card-title"> <%= item.name %></h5>
                    <p class="card-text"> <%= item.description %>
                                          <%= item.price.to_s(:delimited) %>(<%= item.tax_price %>)円
                                            <% if item.is_selled == "sale" %>
                                              <p style = "color: #ffffff;">販売中</p>
                                            <% else %>
                                              <p style = "color: #ff3838;">売切れ</p>
                                            <% end %>
                    </p>
                </div>
            </div>
          </div>
        <% end %>
  </div>
</div>